.account-balance-container span { color: #606060!important }
.account-balance-container { background: #f5f5f5; border: 1px solid #d8d8d8; padding: 10px 0 0 0; font-size: 1.2rem; font-size: 12px; color: #606060!important; font-weight: normal!important; }
.account-balance-container h6 { margin-top: 5px }
.account-balance-container h6 span { float: right; }
.account-balance-container .toggle-btn { padding-bottom: 10px!important; padding-top: 5px!important; height: 30px!important; display: block; text-align: center; float: none; clear: both; vertical-align: top; overflow: hidden; }
.account-balance-container .toggle-btn:before { display: inline-block }
.progress { margin-bottom: 0px }
/* * {margin: 0;} */
.clear {clear: both;}
.mrgn-top-15 {margin-top: 15px !important;}
.mrgn-top-20 {margin-top: 20px !important;}
.alignright { text-align: right }
.text-left {text-align: left;}
button.pull-left { margin-left: 0px }
.veralignmiddle { vertical-align: middle!important }
.cc-scotia-pesos{background:url("../../assets/images/scotiapesoo.png") no-repeat 5px 5px; padding: 2px 5px 3px 40px; border-radius:4px; color: #0084a9; border: 1px solid #0084a9; }
.inlineBlock35{width:35%; display:inline-block}
.mrgn-lft-10 { margin-left: 10px !important }
.RUIFW-container-well { margin-bottom: 0px }

.main2 a {
  color:black;
  font-size: 12px;
  font-weight: bold;
} 
.inputlen {
  margin-top:10px;
  width: 70%;
}
.pushBottom {margin: 0 0 20px 0;}
.pushRight {margin:0}
.pushRight1 {padding-left:15px;}
.pushRight2 {padding-left:50;}
.floatLeft{float:left;}

.product-amt{
  margin-right: 15px;
  float: left;
  font-size: 1.2em;
  color: #606060;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

fa-chevron-up:before{
  font-family: fontAwesome;
  padding-right:10px;
  font-size: 12px;
}

fa-chevron-down:before{
  font-family: fontAwesome;
  padding-right:10px;
  font-size: 12px;
}

.panel-body {
  background: #f5f5f5;
}

a p{
  color:#2a5db0;
}

p{
  cursor: pointer;
}

.panel-body .textPad{
  margin-bottom: 40px!important;
}

#transDetailsForm {
  margin-top: 0!important;
  background-color: #d81e05
}

.progress{
  height:15px!important;
}
.progress-bar-success{
  background-color: #00bb04!important;
  
}

.glyphicon-chevron-down:before, .glyphicon-chevron-up:before{
  padding-left:3px;
  color:#2a5db0;
}