.right-box {
    border: 1px solid #c0bfbb;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden!important;
    position: relative;
}
.right-box-content{
    margin: 10px 15px 10px 35px;
    font-size: 16px;
    color: #606060;
    padding-left: 15px;
}
.right-box-arrow{
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f0da";
    color: #d81e05;
    position: absolute;
    font-size: 22px;
    top: 8px;
    left: 31px;
}
.right-box-map{
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f0da";
    color: #d81e05;
    position: absolute !important;
    font-size: 22px;
    top: 10px !important;
    left:25px !important;
}
.right-box-phone{
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f0da";
    color: #d81e05;
    position: absolute !important;
    font-size: 19px;
    top: 16px !important;
    left:29px !important;
}
.right-box-lock{
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f0da";
    color: #d81e05;
    position: absolute;
    font-size: 19px;
    top: 10px;
    left: 29px;
}

.contact{
    list-style: none;
}