.alignCenter{
    text-align: center;
}

.checkbox, .radio label{
    color: grey;
}

.form-control {
    width:100%!important;
}

.RUIFW-red{
    color: #D81E05!important;
}

#input1{
    display:inline-block;
}

/* .alertDiv{
    margin-left: 20%;
    margin-right: 20%;
} */

