.calendar-border{
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-top: 3px solid #c0bfbb;
    padding: 20px;
    margin-top: 50px;
}

.table-calendar{
    margin-top: 50px;
}

.tab-container{
    position: relative;
}

.calendar-border .react-tabs > ul{
    padding-left: 76%;
}

.calendar-border li{
    display: inline;
    margin-left: 44px;
    color: red;
    cursor: pointer;
}

.calendar-border li.react-tabs__tab--selected{
    color: black;
}

.calendar-border li i{
    font-size: 17px;
}

.calendar{
    height: 500px;
    margin-top: 50px;
}

.calendar-select{
    position: absolute;
    z-index: 2;
}

.account-title{
    padding: 0 0 0 20px;
    font-size: 20px;
    color: #333333 !important;
    margin: 0 0 20px 0;
    cursor: pointer;
}

.calendar-select.form-control{
    width: 29%!important;
}

/*****tooltip*****/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}