.RUIFW-brand{
    margin: 20px;
    background: url("../../assets/images/scotiabank_logo.png") no-repeat 0 0;
    width: 224px;
    height: 40px;
}

.RUIFW-brand:focus{
    outline: none;
}

.navbar{
    height: 45px;
    background: #d81e05 !important;
    border-radius: 0 !important;
}
.navbar-brand{
    /*font-size: 16px;*/
    color: white !important;
    font-size: 25px;
}

.navbar-content{
    width: 960px;margin: auto;position: relative;
}

.navbar-left{
    float: left;
}

.navbar-right{
    float: right;
}

.navbar-contact{
    position: absolute;top: -15px;right: 0; color: #004eff;
}

.navbar-logo{
    width: 960px;margin: auto;position: relative;
}
.navbar-border{
    border: 1px white solid;
}
.container{
    width: 960px !important;
}

.nav .dropdown-menu > li > a{
    border: none;
    padding: 15px 0 0 28px !important;
    white-space: normal!important;
    color: #2a5db0 !important;

}

.nav .dropdown-menu > li > a:focus{
    background-color: white !important;
}

.nav .dropdown-menu > li > div{
    padding-left: 28px!important;

}
.nav .dropdown.open > a{
    color: #d81e05 !important;
    background-color: white !important;
}
.container>div>ul> li> a{
    color: white !important;
}
.navbar-default .navbar-nav>.active>a{
    background-color: transparent!important;
}

.nav .dropdown-menu{
    border-top: white !important;
    padding-right: 20px !important;
    padding-bottom: 25px !important;
    margin-left:-15px !important;
}

.nav-toggle{
    width: 50%;
    float: left;
    position: relative;
}

.nav-toggle3{
    width: 33%;
    float: left;
    position: relative;
}

.nav ul{
    width: 500px;
}

.question ul{
    width: 40%!important;
}

.gear ul{
    width: 60%!important;
}

span{
    float: none !important;
}

.logout ul {
    width: 100%;
    margin: 0;
    display: table;
    list-style: none;
    padding: 0;
}

.logout{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 2px;
    width: 430px !important;
    background: #f5f5f5;
    font-size: 12px;
    border: solid 4px #d8d8d8 !important;
    color: #606060;
}

.RUIFW-nav-quick-links li.lftbox {
    width: 58%;
    border-right: 1px solid #d4d4d4;
    -webkit-box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.75);
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.75);
    padding: 0;
}

.RUIFW-nav-quick-links li {
    width: 41%;
    height: 48px;
    float: left;
    position: relative;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px!important;
}

.RUIFW-nav-quick-links li a{
    color: #606060;
}

.RUIFW-nav-quick-links li.lftbox.bold-txt {
    padding: 7px 7px 0px 7px;
}

#signout{
    background-color: #d81e05;
    color: white;
    float: right;
    margin-top: -4px!important;
}
.floatRight{
    float: right!important;
}
.menuLeft{
    right: -20px;
    left: auto!important;
}



.navIcon-ul ul{
    left: auto!important;
    right: -17px!important;
    border-radius: 0!important;
    transform: none!important;
    top:48px!important;
}

.show > a{
    background-color: white!important;
}

.show > a > i {
    color: #d81e05;
}

.navIcon{
    font-size: 15px;
}
.creditcard-pic{
    background: url("../../assets/images/cc_img.png") no-repeat 0 0;
    height: 79px!important;
}
.clear {
    clear: both;
}

.gear .dropdown{
    position: static!important;
}
.question .dropdown{
    position: static!important;
}

.banner{
    background: #F1F1F1;
    height: 100%!important;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    padding: 10px;
    font-size: 10px;
    display: block;
    float: left;
    width: 33%;
}
.banner2{
    background: #F1F1F1;
    height: 100%!important;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    padding: 10px;
    font-size: 10px;
    display: block;
    float: left;
    width: 50%;
}