body{
    line-height: 1.42857143;
}

.wizard-form-title {
    background:#fff;
    padding: 25px;
    font-size: 12px;
    font-family: Arial,sans-serif;
    color: #606060;
}

.pushBot {
    margin-top: 20px;
    margin-bottom: 10px;
}

.pushLeft{
    margin-top: 10px;
    margin-bottom: 10px;
}

.pushToLeft20{
    margin-left:-20px;
}
.pushToLeft90{
    margin-left:-90px;
}

floatLeft{
    float:left;
}

span {
    float: right;
}

.form-control{
    width: 60%!important;
    height: 30px!important;
    font-size: 12px!important;
    padding: 6px 5px!important;
}

label {
    font-size: 12px;
    color: #606060;
}

.labelSet{
    margin-top: 2px !important;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.fontTop{
    background:#fff;
    padding: 25px 25px 0 25px;
    font-size: 16px;
    font-family: Arial,sans-serif;
    color: #606060;
}
