.table{
    table-layout: fixed!important;
}

.table > tbody > tr > td , .table>thead{
    font-size: 12px;
}
.table>thead{
    color:#2A5DB0 !important;
    cursor: pointer;
}

.react-bs-table-search-form{
    position:relative;
    text-align: left;
}

.td-column-style{
    color: #2A5DB0;
    cursor: pointer;
}

.textAlignRight{
    margin-bottom: 5px;
    cursor: pointer;
    /* padding-left: 20px!important; */
    color: #2A5DB0;
    font-weight:500;
}

.col-style{
    color: #606060;
    margin-bottom:5px;
}

.body-modal{
    padding:20px 40px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    font-size:14px!important;
    font-family: Arial,sans-serif;
}

.navbar-logo-modal {
    width: auto;
    height: 70px;
    position: relative;
}

.RUIFW-brand-modal{
    margin: 5px;
    background: url("../../assets/images/scotiabank_logo.png") no-repeat 0 0;
    width: 224px;
    /*height: 40px;*/
    height: 70px;
}

.modal-header, .modal-footer {
    border-bottom: none!important;
    border-top: none!important;
}

.print-icon-modal {
    background: url(../../assets/images/print.png) left top no-repeat;
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.modal-text{
    color: #d81e05;
    font-size: 1.8em;
}

.floatRight{
    font-size: 30px;
    border: none;
    font-weight: 500;
    float:right;
}