section { border-top: 5px solid #f1f1f1; border-right: 5px solid #f1f1f1; border-left: 5px solid #f1f1f1; padding-bottom: 15px;}

.main2 {
  margin: 0;
}

.panel-heading {
    position: relative;
  }
.panel-heading[data-toggle="collapse"]:after {
font-family: 'Glyphicons Halflings';
content: "\e072"; 
position: absolute;
color: #b0c5d8;
font-size: 18px;
line-height: 22px;
right: 20px;
top: calc(50% - 10px);

/* rotate "play" icon from > (right arrow) to down arrow */
-webkit-transform: rotate(-90deg);
-moz-transform:    rotate(-90deg);
-ms-transform:     rotate(-90deg);
-o-transform:      rotate(-90deg);
transform:         rotate(-90deg);
}

.panel-heading[data-toggle="collapse"].collapsed:after {
/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
-webkit-transform: rotate(90deg);
-moz-transform:    rotate(90deg);
-ms-transform:     rotate(90deg);
-o-transform:      rotate(90deg);
transform:         rotate(90deg);
}

.product-name {
  margin-right: 15px;
  float: left;
  font-size: 1.2em;
  color: #606060;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.product-title{
  margin-bottom: 15px;
}


/* 
.account-balance-container span { color: #606060!important }
.account-balance-container { background: #f5f5f5; border: 1px solid #d8d8d8; padding: 10px 0 0 0; font-size: 1.2rem; font-size: 12px; color: #606060!important; font-weight: normal!important; }
.account-balance-container h6 { margin-top: 5px }
.account-balance-container h6 span { float: right }
.account-balance-container .toggle-btn { padding-bottom: 10px!important; padding-top: 5px!important; height: 30px!important; display: block; text-align: center; float: none; clear: both; vertical-align: top; overflow: hidden; }
.account-balance-container .toggle-btn:before { display: inline-block }
.progress { margin-bottom: 0px }
/* * {margin: 0;} */
/* .clear {clear: both;}
.mrgn-top-15 {margin-top: 15px !important;}
.mrgn-top-20 {margin-top: 20px !important;}
.alignright { text-align: right }
.text-left {text-align: left;}
button.pull-left { margin-left: 0px }
.veralignmiddle { vertical-align: middle!important }
.cc-scotia-pesos{background:url("../../assets/images/scotiapesoo.png") no-repeat 5px 5px; padding: 2px 5px 3px 40px; border-radius:4px; color: #0084a9; border: 1px solid #0084a9; }
.inlineBlock35{width:35%; display:inline-block}
.mrgn-lft-10 { margin-left: 10px !important }
.RUIFW-container-well { margin-bottom: 0px }

.main2 a {
  color:black;
  font-size: 12px;
  font-weight: bold;
} 
.inputlen {
  margin-top:10px;
  width: 70%;
}
.pushBottom {margin: 0 0 20px 0;}
.pushRight {margin:0}
.pushRight1 {padding-left:15px;}
.pushRight2 {padding-left:50;}  */
