.panel-heading { 
    background-image: none;
    background-color: #d81e05!important; 
    color: #ffffff!important;
}

.panel-danger{
    width: 90%;
    border:none!important;
    margin-bottom:0!important;
}

.fa-caret-right:before{
    font-family: fontAwesome;
    padding-right:10px;
    font-size: 24px!important;
}

.fa-caret-down:before{
    font-family: fontAwesome;
    padding-right:10px;
    font-size: 24px!important;
}

/* #firstList .list-group-item:first-child{
    background: #d4d4d4;
    
} */

#firstList .list-group-item a.active {
    background-color: #030;
    border-color: #aed248;
  }


