.panel-heading { 
    background-image: none;
    background-color: #d81e05!important; 
    color: #ffffff!important;
}

.panel-danger{
    width: 90%;
    border:none!important;
    margin-bottom:0!important;
}

.glyphicon-triangle-right:before,.glyphicon-triangle-bottom:before{
    padding-right:10px;
    font-size: 12px;
}


#firstList .list-group-item a.active {
    background-color: #030;
    border-color: #aed248;
}

/* #firstList li, #secondList li{
    background-color: #d4d4d4;
} */

.list-group-item.active{
    background-color: #d4d4d4!important;
}

#firstList .list-group-item a, #secondList .list-group-item a {
    color: #337ab7;
}